:host{
    width: 100%;
    height: 100%;
    overflow: auto;
    .icon-container {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        width: 200px;
        font-weight: bold;
        margin: auto;
    
        .icon {
            background-size: 130px;
            background-repeat: no-repeat;
            background-position: center;
            height: 200px;
            border-radius: 50%;
            border: 1px solid #ABA2C5;
            &:hover {
                background-color: #694E98;
            }
        }
        
        .crud-icon {
            @extend .icon;
            background-image: url("../../../assets/images/icons/crud.svg");
            &:hover {
                background-image: url("../../../assets/images/icons/crud-hover.svg");
            }
        }
    }
    
}

